@keyframes circle-in-hesitate {
    0% {
        clip-path: circle(0%);
    }

    40% {
        clip-path: circle(60%);
    }

    100% {
        clip-path: circle(125%);
    }
}

[transition-style="in:circle:hesitate"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-hesitate both;
}
 
 


video {
    animation: 2.5s cubic-bezier(.25, 1, .60, 1) circle-in-hesitate both;
    animation-delay: 1s;
    animation-duration: 6s;
    /* Initial state for animation */
} 